<div *ngIf="trim">
    <h1>{{trim!.model_name}}</h1>
    <p *ngIf="trim!.model_trim != null">Trim: {{trim!.model_trim}}</p>
    <p *ngIf="trim!.model_name != null">Model name:{{trim!.model_name}}</p>
    <p *ngIf="trim!.make_country != null">Country:{{trim!.make_country}}</p>
    <p *ngIf="trim!.make_display != null">Display:{{trim!.make_display}}</p>
    <p *ngIf="trim!.model_0_to_100_kph != null">0 to 100 KPH: {{trim!.model_0_to_100_kph}}</p>
    <p *ngIf="trim!.model_body != null">Body:{{trim!.model_body}}</p>
    <p *ngIf="trim!.model_co2 != null">co2: {{trim!.model_co2}}</p>
    <p *ngIf="trim!.model_doors!=null">Doors: {{trim!.model_doors}}</p>
    <p *ngIf="trim!.model_drive!=null">Drive: {{trim!.model_drive}}</p>
    <p *ngIf="trim!.model_engine_bore_mm!=null">Bore: {{trim!.model_engine_bore_mm}}</p>
    <p *ngIf="trim!.model_engine_cc!=null">Engine cc: {{trim!.model_engine_cc}}</p>
    <p *ngIf="trim!.model_engine_compression!=null">Engine compression: {{trim!.model_engine_compression}}</p>
    <p *ngIf="trim!.model_engine_cyl!=null">Engine cyl: {{trim!.model_engine_cyl}}</p>
    <p *ngIf="trim!.model_engine_fuel!=null">Engine fuel: {{trim!.model_engine_fuel}}</p>
    <p *ngIf="trim!.model_engine_position != null">Engine position: {{trim!.model_engine_position}}</p>    
    <p *ngIf="trim!.model_engine_power_ps != null">Engine Power ps: {{trim!.model_engine_power_ps}}</p>
    <p *ngIf="trim!.model_engine_power_rpm != null">Engine Power rpm: {{trim!.model_engine_power_rpm}}</p>
    <p *ngIf="trim!.model_engine_stroke_mm != null">Engine storke mm: {{trim!.model_engine_stroke_mm}}</p>
    <p *ngIf="trim!.model_engine_torque_nm != null">Engine torque nm: {{trim!.model_engine_torque_nm}}</p>
    <p *ngIf="trim!.model_engine_torque_rpm != null">Engine torque rpm: {{trim!.model_engine_torque_rpm}}</p>
    <p *ngIf="trim!.model_engine_type != null">Engine type: {{trim!.model_engine_type}}</p>
    <p *ngIf="trim!.model_engine_valves_per_cyl != null">Engine valves per cyl: {{trim!.model_engine_valves_per_cyl}}</p>
    <p *ngIf="trim!.model_fuel_cap_l != null">Engine fuel capacity: {{trim!.model_fuel_cap_l}}</p>
    <p *ngIf="trim!.model_height_mm != null">Model height(mm):{{trim!.model_height_mm}}</p>
    <p *ngIf="trim!.model_id != null">Model id:{{trim!.model_id}}</p>
    <p *ngIf="trim!.model_length_mm != null">Model length(mm):{{trim!.model_length_mm}}</p>
    <p *ngIf="trim!.model_lkm_city != null">Model km city:{{trim!.model_lkm_city}}</p>
    <p *ngIf="trim!.model_lkm_mixed != null">Model km mixed: {{trim!.model_lkm_mixed}}</p>
    <p *ngIf="trim!.model_make_display != null">Model make display: {{trim!.model_make_display}}</p>
    <p *ngIf="trim!.model_make_id != null">Model make id: {{trim!.model_make_id}}</p>
    <p *ngIf="trim!.model_name != null">Model name:{{trim!.model_name}}</p>
    <p *ngIf="trim!.model_seats != null" >Model seats:{{trim!.model_seats}}</p>
    <p *ngIf="trim!.model_sold_in_us != null">Model sold in US: {{trim!.model_sold_in_us}}</p>
    <p *ngIf="trim!.model_top_speed_kph!=null">Model top speed: {{trim!.model_top_speed_kph}}</p>
    <p *ngIf="trim!.model_transmission_type!=null">Transmision type: {{trim!.model_transmission_type}}</p>    
    <p *ngIf="trim!.model_trim!=null">Trim: {{trim!.model_trim}}</p>
    <p *ngIf="trim!.model_weight_kg!=null">Weight: {{trim!.model_weight_kg}}</p>
    <p *ngIf="trim!.model_wheelbase_mm != null">Wheel base: {{trim!.model_wheelbase_mm}}</p>
    <p *ngIf="trim!.model_width_mm != null">Width: {{trim!.model_width_mm}}</p>
    <p *ngIf="trim!.model_year != null">Year: {{trim!.model_year}}</p>
    <button  (click)="this.close()">Close details</button>
</div>
