<h1 *ngIf="!this.showingDetails">{{this.model}}</h1>
<div *ngIf="!this.showingDetails">
    <div class="element" *ngFor="let trim of trims">
        <p>Trim: {{trim.model_trim}}</p>
        <p>Model name:{{trim.model_name}}</p>
        <button (click)="showDetails(trim);">Show details</button>
    </div>
</div>
<div >
    <app-details  #details (closeDetails)="this.hideDetails()"></app-details>
</div>
